/* ------Variables------- */
:root {
	/* Primary */

	--tomato: hsl(4, 100%, 67%);

	/* Neutral */

	--slate-grey-800: hsl(234, 29%, 20%);
	--charcoal-grey-800: hsl(235, 18%, 26%);
	--grey-400: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);

	/* Typography */

	/* Font */

	--ff-regular: Roboto, sans-serif;
	--fw-regular: 400;
	--fw-bold: 700;
	/* Spacing */

	--standard-padding: 2rem;
}

/* -----Reset--------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
	9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* ----End Reset------ */

body {
	font-size: 1rem;
	font-weight: var(--fw-regular);
	font-family: var(--ff-regular);
	height: 100dvh;
	display: grid;
	place-items: center;
	background-color: var(--charcoal-grey-800);
}

main {
	background-color: var(--white);
}

/* .signup {
	display: none;
} */

.signup__content {
	display: grid;
	padding: var(--standard-padding);
	gap: 0.75rem;
	color: var(--charcoal-grey-800);
	place-content: center;
}

.signup__title {
	font-size: 2.25rem;
	font-weight: var(--fw-bold);
	color: var(--slate-grey-800);
}

.signup__list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.signup__list-item {
	display: flex;
	gap: 1rem;
}

.signup__list-item::before {
	content: "";
	display: inline-block;
	background-image: url(assets/images/icon-list.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.signup__form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.signup__form-label {
	font-weight: var(--fw-bold);
}

.signup__form-input {
	border-radius: 0.35rem;
	border: solid 1px var(--grey-400);
	outline: none;
	padding: 0.5rem 1rem;
	margin-bottom: 0.75rem;
	cursor: pointer;
}

.signup__form-input::placeholder {
	color: var(--grey-400);
}

.signup__button,
.success__button {
	padding: 0.75rem 1rem;
	border-radius: 0.35rem;
	border: none;
	color: var(--white);
	background-color: var(--slate-grey-800);
	cursor: pointer;
	transition: all 0.3s;
}

.signup__button:hover,
.success__button:hover {
	margin-top: -0.5rem;
	margin-bottom: 0rem;
	background-color: var(--tomato);
	box-shadow: 0px 0.5rem 1rem 0px var(--tomato);
}

.success {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: var(--standard-padding);
	display: none;
}

.success__content {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

.success__image {
	max-width: 4rem;
}

.success__title {
	font-size: 2.5rem;
	color: var(--slate-grey-800);
	line-height: 1;
}

.success__button {
	margin-bottom: -8rem;
	cursor: pointer;
	transition: all 0.3s;
}

@media (min-width: 38rem) {
	main {
		max-width: 58rem;
		padding: 1rem;
		border-radius: 2rem;
	}
	.signup {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		/* display: none; */
	}

	.signup__hero {
		border-radius: 0;
	}

	.success {
		max-width: 25rem;
		max-height: 25rem;
		padding: 1rem;
		gap: 2rem;
	}

	.success__button {
		margin-bottom: 0;
	}
}
